<div class="header-container mat-elevation-z1" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="20px">
        <div class="block-height" fxLayoutAlign="center center">
            <mat-icon class="icon-color">commute</mat-icon>
            Car<b>Sale</b>
        </div>
        <app-navbar *ngIf="authService.isLoggedIn"></app-navbar>
    </div>
    <div fxLayoutAlign="center center" class="block-height" *ngIf="authService.isLoggedIn">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" class="basket">
            <mat-icon>shopping_cart</mat-icon>
            <span id="basket-price" *ngIf="authService.carPrice">({{authService.carPrice.toFixed(2)}})</span>
        </div>
        <button mat-button color="primary" class="text-uppercase" (click)="onLogout()">logout</button>
    </div>
</div>