@import "core";

.header-container {
    padding: $gutter-zero $gutter-base * 5;
    .icon-color {
        color: $color-blue;
        padding-right: $gutter-base;
    }
    .block-height {
        height: 60px;
    }
    .basket {
        color: $color-green;
    }
}
