@import "core";

.car-sale-table-container {
    .info-icon {
        color: $color-grey;
        font-size: $font-size-medium;
    }

    .grid-label{
        color:$color-grey-6
    }

    .details{
        padding: $gutter-base*6;
    }
}
